/*main style*/


/*@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap";
*/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";
html {
    font-size: 16px;
}

body {
    color: rgba(19, 12, 22, 0.5);
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-image: url('../images/bacground88.JPG');
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    /*
    font-weight: 400;
    line-height: 1.5;
*/
}

.banner {
    width: 90vw;
    height: 35vh;
    color: whitesmoke;
    margin: 0 auto;
}

h1 {
    font-size: 58px;
}

div {
    color: whitesmoke;
    width: 100%;
}

.product ul {
    list-style: none;
}

.product ul li {
    display: inline;
}

.navbar ol {
    list-style: none;
}

.navbar ol li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2em;
    color: whitesmoke;
    padding-right: 1.2em;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(175, 171, 171)
}

.row {
    width: 100%;
}

.col {
    width: 25%;
    float: left;
    text-align: center;
}

.col-4 {
    width: 25%;
    float: left;
    text-align: center;
}

.col-5 {
    width: 25%;
    float: left;
    justify-content: space-around;
    text-align: center;
}

.col-6 {
    width: 25%;
    float: left;
    justify-content: space-around;
    text-align: center;
}

.col-7 {
    width: 25%;
    float: left;
    justify-content: space-around;
    text-align: center;
}

header h2 {
    text-align: center;
}

header h3 {
    text-align: center;
}

.bg-dark {
    color: whitesmoke;
}

.container {
    float: left!important;
}

img {
    display: inline-block;
}

.img-fluid {
    max-width: 100%;
    /* height: auto; */
}

.navbar-tool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right !important;
}

.navbar-tool li {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-tool li a {
    padding: 0.3em;
    color: whitesmoke;
}